<h3 *ngIf="isSignIn">Sign in:</h3>
<h3 *ngIf="!isSignIn">Register:</h3>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email: </label>
    <input
      id="email"
      type="email"
      class="form-control short"
      formControlName="email"
    />
    <div *ngIf="invalid" class="red">Email is incorrect</div>
  </div>

  <div>
    <label for="password">Password: </label>
    <input
      id="password"
      type="password"
      class="form-control short"
      formControlName="password"
    />
    <div *ngIf="invalid" class="red">
      Password length should be 6 symbols or more
    </div>
  </div>
  <div *ngIf="error" class="red">{{ error }}</div>
  <button *ngIf="isSignIn" type="submit" class="btn">Sign in</button>
  <button *ngIf="!isSignIn" type="submit" class="btn">Register</button>
</form>
<a *ngIf="isSignIn" (click)="switch()" class="reg-link">I want to register</a>
<a *ngIf="!isSignIn" (click)="switch()" class="reg-link">I want to sign in</a>
