<router-outlet></router-outlet>
<h3>Existing users: </h3>
<div *ngFor="let user of users | async" class="userBox">
  <!--  <div>Name: ['name']</div><button (click)="deleteUser(user.id)">Delete User</button>-->
  <!--  <div>Age: ['age']</div>-->
  <!--  <div>Occupation: ['occupation']</div>-->

  <div>Name: {{user.name}}</div>
  <div>Age: {{user.age}}</div>
  <div>Occupation: {{user.occupation}}</div>
  <button (click)="setUserId(user.id, user)" class="btn">Edit User</button>
  <button (click)="deleteUser(user.id)" class="btn margin-left">Delete User</button>
</div>

<button *ngIf="!isCreate" (click)="switch()" class="btn switch">I want to create new user</button>
<!--<button *ngIf="isCreate" (click)="switch()" class="btn switch">I want to update user</button>-->

  <h3 *ngIf="isCreate">Create new user:</h3>
  <h3 *ngIf="!isCreate">Update existing user:</h3>

  <div class="flex-center">
<!--    <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm" class="formBox">-->
    <form (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm" class="formBox">
      <label for="name">Name:</label>
<!--      <input type="text" name="name" id="name" ngModel>-->
      <input type="text" name="name" id="name" formControlName="name">
      <label for="age">Age:</label>
<!--      <input type="text" name="age" id="age" ngModel>-->
      <input type="number" name="age" id="age" formControlName="age">
      <label for="occupation">Occupation:</label>
<!--      <input type="text" name="occupation" id="occupation" ngModel>-->
      <input type="text" name="occupation" id="occupation" formControlName="occupation">
      <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
    </form>
  </div>
